* {
  font-family: "Lilita One", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(red 50%, white 50%);
}

.header-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
}

.logo img{
  width: 7.8125rem;
  height: 3.125rem;
}

.content{
  width: 100%;
  height: 80%;
}

.content-pokemon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background: #DEE2EC;
  border: 0.9375rem solid;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

#loadMore{
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  width: 100px;
  height: 30px;
  font-size: 0.625rem;
  background-color: #373C3C;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor:pointer;
}

footer{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 10%;
}

@media screen and (min-width: 58.875rem) {
  body {
    background-color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(
      0deg,
      #fff 50%,
      #fff 50%,
      #000 50%,
      #000 52%,
      #FA0000 50%,
      #FA0000 50%
    );
  }

  .search-pokemon{
    display: flex;
  }

  .content{
    display: flex;
    justify-content: center;
  }

  .content-pokemon{
    width: 80%;
    height: 100%;
  }

  footer{
    height: 10%;
  }
}
